body, html {
	background-color: $black;
}

.puzzle-wrapper {
	margin: 48px auto;
	h3 {
		color: $green;
		margin: 0 auto;
	}
	.puzzle-block {
		margin: 24px auto;
		img {
			display: block;
			margin: auto;
			box-shadow: 0 16px 32px rgba(0,0,0,0.2);
		}
	}
}

.top-navigation {
	margin: 24px auto;
	a {
		color: $white;
		text-decoration: none !important;
		&.active {
			color: $green;
			font-weight: bold;
		}
	}
}

.ended-text {
	color: $white;
	font-size: 16px;
	margin: 40px auto;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	small {
		display: block;
		margin: 4px 0 0;
		font-size: 24px;
		font-weight: bold;
		color: #0ed753;
	}
}