body, html {
	background-color: $black;
}

.puzzle-wrapper {
	margin: 48px auto;
	h3 {
		color: $green;
		margin: 0 auto;
	}
	.puzzle-block {
		margin: 24px auto;
		img {
			display: block;
			margin: auto;
			box-shadow: 0 16px 32px rgba(0,0,0,0.2);
		}
	}
}

.top-navigation {
	margin: 24px auto;
	a {
		color: $white;
		text-decoration: none !important;
		&.active {
			color: $green;
			font-weight: bold;
		}
	}
}